<h1 id='title'>Welcome to Ember.js</h1>

<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-inner">
      <a class="navbar-brand" href="#">Bloggr</a>
      <ul class="nav navbar-nav">
        <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>

{{outlet}}
