<div class="container-fluid">
  <div class="row">
	  <!-- author listing -->
		<div class="col-xs-4">
		  <button {{action 'createAuthor'}}>Create</button>
			<table class='table'>
				<thead>
					<tr><th>Authors</th></tr>
				</thead>
				<tbody>
				{{#each author in pagedContent}}
				<tr><td>
					{{#link-to 'author' author}}
						&bull; {{author.name}}
					{{/link-to}}
				</td></tr>
				{{/each}}
				</tbody>
			</table>
		</div>

		<!-- author content -->
		<div class="col-xs-8">
			{{outlet}}
		</div>
	</div>
	{{page-numbers content=pagedContent}}
</div>