<div class="container-fluid">
  <button {{action 'createPost'}}>Create</button>
	<div class="row">
	  <!-- blog post listing -->
		<div class="col-xs-3">
			<table class='table'>
				<thead>
					<tr><th>Recent Posts</th></tr>
				</thead>
				<tbody>
				{{#each}}
				<tr><td>
					{{#link-to 'post' this}}
						{{title}} <small class='muted'>by {{author}}</small>
					{{/link-to}}
				</td></tr>
				{{/each}}
				</tbody>
			</table>
		</div>

		<!-- blog post content -->
		<div class="col-xs-9">
			{{outlet}}
		</div>
	</div>
</div>