<div class='secret'>
	<p>This is an authenticated route. It is protected by ember-simple-auth.</p>
	<p>This demo application has no real protected data as it is setup as a real offline-first application.</p>
	<p>If you want to protect data from being read by unauthenticated users you need a different database setup. If all your data should be read protected setup couch security to require a role. If some data needs to public and only some data is private you need a separate couch database. Look for details on these and other setups here: <a href="https://github.com/nolanlawson/pouchdb-authentication#couchdb-authentication-recipes">https://github.com/nolanlawson/pouchdb-authentication#couchdb-authentication-recipes</a></p>
	<p>If you really work with protected data, don't forget to whipe the JS caches. Simple auth normally does this by reloading the page. This is disabled in this application, but can be enabled again by modifying the application route.</p>
</div>